<%- include('header', { nav : nav }) %>
<div class="container">
    <h1 class="display-4">
        <%= title %>
    </h1>
    <table class="table">
        <thead>
            <tr class="d-flex">
                <th scope="col" class="col">Név</th>
                <th scope="col" class="col">Fajta</th>
                <th scope="col" class="col">Kor</th>
                <th scope="col" class="col">Szín</th>
                <th scope="col" class="col-2">Menhely</th>
                <th scope="col" class="col"></th>
            </tr>
        </thead>
        <tbody>
            <% for(dog of dogs) { %>
            <tr class="d-flex">
                <td class="col"><%= dog.name %></td>
                <td class="col"><%= dog.species %></td>
                <td class="col"><%= dog.age %></td>
                <td class="col"><%= dog.color %></td>
                <td class="col-2"><%= dog.pound %></td>
                <td class="col">
                    <div class="btn-group float-right abtn">
                        <a class="btn btn-secondary mx-1" href="/dog/details/<%= dog.id %>">Details</a>
                        <a class="btn btn-secondary mx-1" href="/dog/edit/<%= dog.id %>">Edit</a>
                        <a class="btn btn-secondary delete-button" data-url="/dog/delete/<%= dog.id %>">X</a>
                    </div>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>
    <a class="btn btn-primary" href="/dog/new">Új hozzáadása</a>
    <script>
        $(() =>{
            $('.delete-button').click(function(e){
                $.post(e.target.getAttribute('data-url'), function(){
                    location.reload();
                });
            });
        });
    </script>
</div>
<%- include('footer') %>